button{
  color: white;    
  font-weight: bolder;  /*Ideal para poner texto EN NEGRITA*/
  background: #363637; /*Color en codigo HEXADECIMAL*/
  /*width: 80px; -> Inecesario ya que el boton no se adaptaria al texto*/
  height: 40px; /*los botones solo mediran 40 pixeles de altura*/
  
  margin: 2px; /*Cuando los botones se peguen, esten separados por un margen de 2 pixeles*/
  
  border-top: 3px solid #5e5c5c;  /*Borde arriba 3 px de ancho, color solido, color hexadecimal 5e5c5c*/
  border-left: 3px solid #5e5c5c; /*Borde izquierda 3 px de ancho, color solido, color hexadecimal 5e5c5c*/
  
  border-right: 4px solid black;  /*borde derecha*/
  border-bottom: 4px solid black; /*borde abajo*/

}

div{
  margin: 0;                 /* Quitar márgenes por defecto */
  height: 100vh;             /* Altura de toda la ventana */
  display: flex;             /* Activar Flexbox */
  justify-content: center;   /* Centrar horizontalmente */
  /*align-items: center;        Centrar verticalmente */
}

button:active { /*Cuando Clickeo mi boton cambia a color 555555*/
  background-color: #555555;
}
p{
  font-weight: bolder;
  color: rgb(40, 55, 71);
}
